@model bool

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <title>App42</title>
    <style>
        .map {
            height: 800px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="root"></div>       
    
@if (Model)
{
    <script type="text/javascript" src="http://localhost:9000/app.js"></script>
}
else
{
    <script type="text/javascript" src="@Url.Content("/app.js")"></script>
}
    
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWMG_cAeQDW8ATB4mJF-V-xHGt0VD38U0"></script>
</body>
</html>